<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses three20 with Core Data. It provides an application delegate that creates the Core Data stack and establishes the persistent store.</string>
</dict>
</plist>
