<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Three20Style-Xcode3.2.2.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Three20Style-Xcode3.2.5.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Three20Style.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>Three20StyleUnitTests-Xcode3.2.2.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>Three20StyleUnitTests-Xcode3.2.5.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Three20StyleUnitTests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>66846BED12639EE5001D2CF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66846C8112639F29001D2CF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66C16B6012639E2700A7825A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66C16BEC12639E4500A7825A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEF31F390F352DF5000DE5D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB9E6C6110B6A8F800DE563C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
