//
// Copyright 2009-2010 Facebook
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//    http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//

#include "Paths.xcconfig"

GCC_PRECOMPILE_PREFIX_HEADER  = NO
RUN_CLANG_STATIC_ANALYZER     = YES

INFOPLIST_FILE          = $(SRCROOT)/UnitTests/Resources/PropertyLists/UnitTests-Info.plist

WRAPPER_EXTENSION       = octest
FRAMEWORK_SEARCH_PATHS  = $(SDKROOT)$(DEVELOPER_FRAMEWORKS_DIR)

CURRENT_PROJECT_VERSION = $(BUILD_BUNDLE_VERSION)

FRAMEWORK_SEARCH_PATHS = "$(SDKROOT)/Developer/Library/Frameworks"
IPHONEOS_DEPLOYMENT_TARGET = 3.0
SDKROOT = iphoneos4.1
// Required for older iOS devices (iPhone 3G)
ARCHS = $(ARCHS_STANDARD_32_BIT)

// Linker Flags

COMMON_LDFLAGS        = $(OBJC_LIBRARY) $(OBJC_ALLLOAD) $(UIKIT_FX) $(COREGRAPHICS_FX) $(FOUNDATION_FX) $(SENTESTINGKIT_FX)

OTHER_LDFLAGS         = $(COMMON_LDFLAGS)
