<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Three20Core-Xcode3.2.2.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Three20Core-Xcode3.2.5.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Three20Core.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>Three20CoreUnitTests-Xcode3.2.2.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Three20CoreUnitTests-Xcode3.2.5.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>Three20CoreUnitTests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>664961541262EE5000C2C80E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6650CA791262F6E2003FF804</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66C2E0D11262F748006DF55A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66F9A62C1262ED9F0059C2AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEF31F390F352DF5000DE5D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB9E6C6110B6A8F800DE563C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
