<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Three20UINavigator-Xcode3.2.2.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>Three20UINavigator-Xcode3.2.5.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>Three20UINavigator.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Three20UINavigatorUnitTests-Xcode3.2.2.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Three20UINavigatorUnitTests-Xcode3.2.5.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>Three20UINavigatorUnitTests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>665A541D1264DAF70032D0BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>665A54531264DAF70032D0BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66FE8BC51264DBC3001E0674</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66FE8BFB1264DBC3001E0674</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEF31F390F352DF5000DE5D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB9E6C6110B6A8F800DE563C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
