<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Three20.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>665A55C6126521740032D0BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>665A55DF126521740032D0BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66FE8EFF1265E968001E0674</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66FE8F181265E968001E0674</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEF31F390F352DF5000DE5D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB9E6C6110B6A8F800DE563C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
