<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>662D81A0126304EB005851C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>662D81B5126304F3005851C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>662D81C912630516005851C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>662D81F012630527005851C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEF31F390F352DF5000DE5D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB9E6C6110B6A8F800DE563C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
