<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OptionsLabel</key>
	<string>Subclass of</string>
	<key>PopupMenu</key>
	<array>
		<dict>
			<key>Key</key>
			<string>TTViewC</string>
			<key>Title</key>
			<string>TTViewController</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>TTTableViewC</string>
			<key>Title</key>
			<string>TTTableViewController</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>TTDefaultS</string>
			<key>Title</key>
			<string>TTDefaultStyleSheet</string>
		</dict>
	</array>
	<key>TemplateSelection</key>
	<dict>
		<key></key>
		<string>TTViewController subclass</string>
		<key>TTViewC</key>
		<string>TTViewController subclass</string>
		<key>TTTableViewC</key>
		<string>TTTableViewController subclass</string>
		<key>TTDefaultS</key>
		<string>TTDefaultStyleSheet subclass</string>
	</dict>
</dict>
</plist>

